* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

@font-face {
	font-family: "CopperPennyDTPNormal";
	src: url("../fonts/CopperPennyDTPNormal.ttf") format("truetype");
}
/* font-family: "CopperPennyDTPNormal", sans-serif; */

@font-face {
	font-family: "MetaPro-BlackItalic";
	src: url("../fonts/MetaPro-BlackItalic.ttf") format("truetype");
}
/* font-family: "MetaPro-BlackItalic", sans-serif; */

@font-face {
	font-family: "MetaPro-Bold";
	src: url("../fonts/MetaPro-Bold.otf") format("truetype");
}
/* font-family: "MetaPro-Bold", sans-serif; */

@font-face {
	font-family: "MetaPro-BoldItalic";
	src: url("../fonts/MetaPro-BoldItalic.otf") format("truetype");
}
/* font-family: "MetaPro-BoldItalic", sans-serif; */

@font-face {
	font-family: "MetaPro-Normal";
	src: url("../fonts/MetaPro-Normal.otf") format("truetype");
}
/* font-family: "MetaPro-Normal", sans-serif; */

@font-face {
	font-family: "MetaPro-NormalItalic";
	src: url("../fonts/MetaPro-NormalItalic.ttf") format("truetype");
}
/* font-family: "MetaPro-NormalItalic", sans-serif; */

@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl.otf") format("truetype");
}
/* font-family: "MuseoSansCyrl", sans-serif; */

@font-face {
	font-family: "NeoSansProBold";
	src: url("../fonts/NeoSansProBold.ttf") format("truetype");
}
/* font-family: "NeoSansProBold", sans-serif; */

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

header,
.main-sales,
.global-filter,
.main-popular,
.main-about,
.socials,
footer {
	min-width: 700px;
}


.main-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
  padding: 0 10px;
	
	/* border-top: 1px solid #ebebeb; */
  
  text-align: center;
}

.atributs {
	flex-grow: 0.6;
	padding: 11px 30px 11px 20px;
	
	border-right: 2px solid #ebebeb;
}

.shop-logo {
	margin-right: 30px;
}

.shop-name {
	font-family: "MetaPro-Bold", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
}

.shop-name a {
	font-family: "MetaPro-Bold", sans-serif;
	font-size: 12px;
	color: #8d8d8d;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

.atributs ul,
.shop-time-info ul {
	margin: 0;
	padding: 0;
  
  list-style-type: none;
}

.shop-logo,
.shop-name,
.shop-time,
.shop-phone {
	display: inline-block;
	
	vertical-align: middle;
}

.main-search {
	flex-grow: 0.55;
	
	border-right: 2px solid #ebebeb;
}

.main-search-link {
	display: block;
	padding: 40px 30px 40px 50px;

	background: url("../img/main/search.png") no-repeat;
	background-position: 10% 50%;
	
	font-family: "NeoSansProBold", sans-serif;
	color: #c5c5c5;
	font-size: 16px;
}

.shop-time-info {
	flex-grow: 0.6;
	padding: 25px 30px;
}

.shop-time,
.shop-phone {
	padding-left: 40px;
}

.shop-time {
	margin-right: 30px;
	
	background: url("../img/main/watch.png") no-repeat;
	background-position: 5% 0;
	
	font-family: "MetaPro-Normal", sans-serif;
	font-size: 16px;
	color: #8d8d8d;
	text-align: left;
}

.work-time {
	font-family: "NeoSansProBold", sans-serif;
	font-size: 15px;
	color: #000000;
}

.shop-phone {
	background: url("../img/main/phone.png") no-repeat;
	background-position: 4% 15%;
	
	font-family: "MetaPro-Normal", sans-serif;
	font-size: 16px;
	color: #8d8d8d;
	text-align: right;
}

.main-phone {
	font-family: "NeoSansProBold", sans-serif;
	font-size: 21px;
	color: #000000;
}

.shop-call {
	flex-grow: 0.15;
}

.back-call {
	display: block;
	padding: 41px 30px;
	
	background: #ff0000;
	
	font-family: "NeoSansProBold", sans-serif;
	font-size: 14px;
	color: #fefefe;
	text-decoration: none;
	text-transform: uppercase;
}

.back-call:hover {
	text-decoration: underline;
}

.main-cart {
	flex-grow: 0.1;
	
	position: relative;
}

.shopping-cart {
	display: block;
	padding: 41px 100px 41px 30px;
	
	background: url("../img/main/card.png") no-repeat;
	background-position: 80% 50%;
	
	font-family: "NeoSansProBold", sans-serif;
	font-size: 14px;
	color: #8d8d8d;
	text-decoration: none;
	text-transform: uppercase;
}

.shopping-cart:hover {
	color: #ff0000;
}

.cart-counter {
	position: absolute;
	top: 20%;
	right: 9%;
	
	display: block;
	width: 25px;
	height: 25px;
	
	background: #ff0000;
	border-radius: 50%;
	
	font-family: "NeoSansProBold", sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 25px;
	vertical-align: middle;
}

.header-menu {
	background: #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.main-menu {
	display: flex;
	justify-content: space-between;
}

.main-menu-dir {
	width: 16.666666666666667%;
	padding: 20px 0px 15px;
	
	background: #000000;
	border-right: 1px solid #333333;
	
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "NeoSansProBold", sans-serif;
	font-size: 14px;
}

.main-menu-dir:hover {
	background: #ffffff;
	border-right: 1px solid #ffffff;
	
	color: #000000;
}

.main-slider {
  display: block;
  width: 100%;
  padding: 16% 0;
  
  background: url("../img/main/sale.jpg") no-repeat;
  background-size: 100% 100%;
	background-position: cover;
}

.global-filter a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "NeoSansProBold", sans-serif;
	font-size: 24px;
}

.global-women,
.global-men,
.global-children {
	display: block;
	float: left;
	
	width: calc(100% / 3);
	min-width: 233.33px;
	padding: 11% 0;
	
	text-align: center;
}

.global-women {
	position: relative;
	
	background: url("../img/main/girls_uggs.jpg") no-repeat;
	background-size: 100% 100%;
}

.global-women:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 3px;
	margin-left: -50px;
	margin-top: -25px;
	
	background: #ffffff;
	
	opacity: 0.5;
}

.global-women:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 3px;
	margin-left: -50px;
	margin-top: 25px;
	
	background: #ffffff;
	
	opacity: 0.5;
}

.global-men {
	position: relative;
	
	background: url("../img/main/mens_uggs.jpg") no-repeat;
	background-size: 100% 100%;
}

.global-men:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 3px;
	margin-left: -50px;
	margin-top: -25px;
	
	background: #ffffff;
	
	opacity: 0.5;
}

.global-men:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 3px;
	margin-left: -50px;
	margin-top: 25px;
	
	background: #ffffff;
	
	opacity: 0.5;
}

.global-children {
	position: relative;
	
	background: url("../img/main/kids_uggs.jpg") no-repeat;
	background-size: 100% 100%;
}

.global-children:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 3px;
	margin-left: -50px;
	margin-top: -25px;
	
	background: #ffffff;
	
	opacity: 0.5;
}

.global-children:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 100px;
	height: 3px;
	margin-left: -50px;
	margin-top: 25px;
	
	background: #ffffff;
	
	opacity: 0.5;
}

.global-women:hover,
.global-men:hover,
.global-children:hover {
	opacity: 0.8;
}

.main-popular {
	padding: 0 45px;
	
	background: #f8f8f8 url("../img/main/bg.jpg") no-repeat;
	Background-size: 100%;
}

.most-popular {
	display: block;
	padding: 50px 10px;
	
	font-family: "MetaPro-Normal", sans-serif;
	font-size: 36px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.most-popular-wrapper {
	position: relative;
	
	width: 610px;
	margin: 0 auto;
}

.most-popular::before {
	content: "";
	position: absolute;
	top: 49%;
	left: 0;
	
	width: 80px;
	height: 2px;
	
	background: #000000;
	opacity: 0.7;
}

.most-popular::after {
	content: "";
	position: absolute;
	top: 49%;
	right: 0;
	
	width: 80px;
	height: 2px;
	
	background: #000000;
	opacity: 0.7;
}

.items {
	display: flex;
	flex-wrap: wrap;
	
	margin: 0 -15px;
}

.items li {
	margin-bottom: 20px;
}

.item-card {
	width: calc(100% / 5 - 50px);
	min-width: 314px;
	margin: 0 25px 50px;
	padding: 20px 20px 0 20px;
	
	background: #ffffff;	
	
	text-align: center;
	
	cursor: pointer;
}

.item-card ul {
	margin: 0;
	padding: 0;
}

.item-card li {
	list-style-type: none;
}

.item-img {
	width: 100%;
	height: 100%;
}

.item-more {
	display: none;
}

.item-more a {
	display: block;
	width: 100%;
	padding: 20px 10px;
	
	background: #ff0000;
	
	font-family: "MetaPro-Bold", sans-serif;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.item-title {
	font-family: "MetaPro-Bold", sans-serif;
	color: #000000;
	font-size: 14px;
	text-align: left;
}

.item-price {
	font-family: "NeoSansProBold", sans-serif;
	font-size: 24px;
	color: #ff0000;
	text-align: left;
}

.item-price-old {
	font-family: "NeoSansProBold", sans-serif;
	font-size: 17px;
	color: #afafaf;
	text-decoration: line-through;
}

.item-card:hover .item-more {
	display: none;
}

.item-card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 2, 0.3);
}

.main-about {
	background: #ffffff;
}

.main-about-inner {
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0 10px;
	
	background: #ffffff;
}

h2 {
	padding: 70px 0 30px;
	
	font-family: "MetaPro-Bold", sans-serif;
	font-size: 45px;
	color: #000000;
	text-transform: uppercase;
}

h3,
h4 {
	padding: 30px 0;
	
	font-family: "MetaPro-Bold", sans-serif;
	font-size: 36px;
	color: #000000;
	text-transform: uppercase;
}

.main-about-inner p {
	font-family: "MetaPro-Normal", sans-serif;
	color: #4c4b4b;
	font-size: 17px;
	line-height: 24px;
}

footer {	
	background: #ffffff;
	border-bottom: 20px solid #ff0000;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 0 10px;
	
	background: #ffffff;
}

.socials,
.sub-catalog,
.sub-additionally,
.sub-contacts {
	width: calc(100% / 4);
}

.socials ul,
.sub-catalog ul,
.sub-additionally ul,
.sub-contacts ul {
	margin: 0;
	padding: 0;
}

.socials li,
.sub-catalog li,
.sub-additionally li,
.sub-contacts li {
	list-style-type: none;
}

.socials {
	width: 100%;
	margin-bottom: 50px;
	padding: 45px;
	
	background: #e4e4e4;
	
	text-align: center;
}

.socials li {
	display: inline-block;
	width: 52px;
	height: 52px;
	margin-right: 12px;
	
	border-radius: 50%;
}

.tm {
	background: url("../img/main/socials.png");
  background-position: 1px 0;
}

.vm {
	background: url("../img/main/socials.png");
	background-position: -68px 0;
}

.in {
	background: url("../img/main/socials.png");
  background-position: -135px 0;
}

.tw {
	background: url("../img/main/socials.png");
  background-position: -205px 0;
}

.pt {
	background: url("../img/main/socials.png");
  background-position: -273px 0;
}

.fb {
	background: url("../img/main/socials.png");
  background-position: -343px 0;
}

.tm:hover {
	background: url("../img/main/socials_hr.png");
  background-position: 1px 0;
}

.vm:hover {
	background: url("../img/main/socials_hr.png");
	background-position: -68px 0;
}

.in:hover {
	background: url("../img/main/socials_hr.png");
  background-position: -135px 0;
}

.tw:hover {
	background: url("../img/main/socials_hr.png");
  background-position: -205px 0;
}

.pt:hover {
	background: url("../img/main/socials_hr.png");
  background-position: -273px 0;
}

.fb:hover {
	background: url("../img/main/socials_hr.png");
  background-position: -343px 0;
}

.socials a {
	display: inline-block;
	width: 52px;
	height: 52px;
	
	vertical-align: top;
	font-size: 0px;
}

.sub-title {
	font-family: "NeoSansProBold", sans-serif;
	font-size: 15px;
	color: #000000;
	text-transform: uppercase;
}

.sub-contacts .sub-title {
	font-family: "NeoSansProBold", sans-serif;
	font-size: 15px;
	color: #000000;
	text-transform: uppercase;
}

.webmaster {
	border-bottom: 2px solid #e4e4e4;
	
	font-family: "NeoSansProBold", sans-serif;
	font-size: 15px;
	color: #000000;
	text-transform: uppercase;
}

.webmaster a {
	color: #000000;
	text-decoration: none;
}

.webmaster a:hover {
	color: #ff0000;
}

.sub-catalog li,
.sub-additionally li,
.sub-contacts li {
	margin-bottom: 15px;
}

.sub-catalog li a,
.sub-additionally li a {
	border-bottom: 1px solid #ff0000;
	
	font-family: "MetaPro-Normal", sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}

.sub-catalog li a:hover,
.sub-additionally li a:hover {
	border-bottom: 1px solid #000000;
}

.sub-contacts li {
	margin-bottom: 17px;
	
	font-family: "MetaPro-Normal", sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}

@media screen and (max-width: 1880px) {
	.item-card {
		width: calc(100% / 4 - 50px);
    min-width: 150px;
	}
}

@media screen and (max-width: 1600px) {
  .main-search {
    display: none;
  }
}

@media screen and (max-width: 1420px) {
  
}

@media screen and (max-width: 1250px) {
	.shop-name {
		display: none;
	}
  
  .shop-logo {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1105px) {
	.shop-time {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.item-card {
		width: calc(100% / 3 - 50px);
    min-width: 150px;
	}
}

@media screen and (max-width: 920px) {
	.main-phone {
		font-size: 18px;
	}
}

@media screen and (max-width: 865px) {
	.atributs {
		padding: 17px 30px 16px 20px;
	}
	
	.shop-phone,
  .main-phone  {
    padding-left: 0;
    
    background: none;
    
    font-size: 14px;
	}
  
  .back-call {
    width: 150px;
    
    font-size: 12px;
  }
	
	.main-cart {
		width: 160px;
	}
}

@media screen and (max-width: 695px) {
	.item-card {
		width: calc(100% / 2 - 50px);
    min-width: 150px;
	}
}

@media screen and (max-width: 500px) {
	.item-card {
		width: calc(100% / 1 - 50px);
    min-width: 150px;
	}
}