* {
  box-sizing: border-box;
}

/*
.container {
    max-width: 2570px;
    margin: 0 auto;
    padding: 0 10px;
}
*/

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

@font-face {
	font-family: "CopperPennyDTPNormal";
	src: url("../fonts/CopperPennyDTPNormal.ttf") format("truetype");
}
/* font-family: "CopperPennyDTPNormal", sans-serif; */

@font-face {
	font-family: "MetaPro-BlackItalic";
	src: url("../fonts/MetaPro-BlackItalic.ttf") format("truetype");
}
/* font-family: "MetaPro-BlackItalic", sans-serif; */

@font-face {
	font-family: "MetaPro-Bold";
	src: url("../fonts/MetaPro-Bold.otf") format("truetype");
}
/* font-family: "MetaPro-Bold", sans-serif; */

@font-face {
	font-family: "MetaPro-BoldItalic";
	src: url("../fonts/MetaPro-BoldItalic.otf") format("truetype");
}
/* font-family: "MetaPro-BoldItalic", sans-serif; */

@font-face {
	font-family: "MetaPro-Normal";
	src: url("../fonts/MetaPro-Normal.otf") format("truetype");
}
/* font-family: "MetaPro-Normal", sans-serif; */

@font-face {
	font-family: "MetaPro-NormalItalic";
	src: url("../fonts/MetaPro-NormalItalic.ttf") format("truetype");
}
/* font-family: "MetaPro-NormalItalic", sans-serif; */

@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl.otf") format("truetype");
}
/* font-family: "MuseoSansCyrl", sans-serif; */

@font-face {
	font-family: "NeoSansProBold";
	src: url("../fonts/NeoSansProBold.ttf") format("truetype");
}
/* font-family: "NeoSansProBold", sans-serif; */

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}


.main-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 0 10px;
}

.shop-logo,
.shop-name,
.main-search,
.shop-time,
.shop-phone,
.shop-call,
.main-cart {
	min-height: 80px;
	
	border: 1px solid red;
}

.shop-logo {
	padding: 0 33px 0 140px;
}

.shop-name {
	padding: 0 33px;
	
	font-family: "MetaPro-Bold", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #8d8d8d;
}

.main-search {
	padding: 0 170px 0 33px;
	
	font-family: "NeoSansProBold", sans-serif;
	color: #c5c5c5;
	font-size: 16px;
}

.shop-time {
	padding: 0 36px 0 110px;
}

.shop-phone {
	padding: 0 64px 0 36px;
}

.shop-call {
	padding: 0 62px;
}

.main-cart {
	padding: 0 77px 0 143px;
}

.header-menu {
	padding: 0 10px;
}

.main-menu {
	display: flex;
	justify-content: space-between;
}

.main-menu-dir {
	width: 16.666666666666667%;
	padding: 25px 5px 20px;
	
	background: #000000;
	border-right: 1px solid #333333;
	
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "NeoSansProBold", sans-serif;
	font-size: 14px;
}

.main-menu-dir:hover {
	background: #ffffff;
	border-right: 1px solid #ffffff;
	
	color: #000000;
}

.global-filter {
	padding: 0 10px;
}

.global-women,
.global-men,
.global-children {
	display: block;
	float: left;
	
	width: calc(100% / 3);
	padding: 250px 10px;
	
	text-align: center;
}

.main-popular {
	padding: 0 45px;
	
	background: #f8f8f8;
}

.most-popular {
	display: block;
	
	text-align: center;
}

.items {
	display: flex;
	flex-wrap: wrap;
	
	margin: 0 -15px;
}

.item-card {
	width: calc(100% / 5 - 50px);
	min-width: 314px;
	margin: 0 25px 50px;
	
	background: #ffffff;	
	
	text-align: center;
}

.item-card ul {
	margin: 0;
	padding: 0;
}

.item-card li {
	list-style-type: none;
}

.main-about {
	background: #ffffff;
}

.main-about-inner {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 10px;
	
	background: #ffffff;
}

footer {	
	background: #ffffff;
	border-bottom: 20px solid red;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 10px;
	
	background: #ffffff;
}

.socials,
.sub-catalog,
.sub-additionally,
.sub-contacts {
	width: calc(100% / 4);
}

.socials ul,
.sub-catalog ul,
.sub-additionally ul,
.sub-contacts ul {
	margin: 0;
	padding: 0;
}

.socials li,
.sub-catalog li,
.sub-additionally li,
.sub-contacts li {
	list-style-type: none;
}

.socials {
	width: 100%;
	
	background: #e4e4e4;
	
	text-align: center;
}

.socials li {
	display: inline-block;
}

@media screen and (max-width: 1816px) {
	.item-card {
	width: calc(100% / 4 - 50px);
	min-width: 314px;
	}
}

@media screen and (max-width: 1453px) {
	.item-card {
	width: calc(100% / 3 - 50px);
	min-width: 314px;
	}
}

@media screen and (max-width: 1085px) {
	.item-card {
	width: calc(100% / 2 - 50px);
	min-width: 314px;
	}
}

@media screen and (max-width: 722px) {
	.item-card {
	width: calc(100% / 1 - 50px);
	min-width: 314px;
	}
}